﻿<link href="~/css/datatables/datatablesBs4.css" rel="stylesheet" />
<link href="~/css/datatables/datatablesButtonsBs4.css" rel="stylesheet" />
<link href="~/css/datatables/datatablesResponsiveBs4.css" rel="stylesheet" />