﻿<script src="js/datatables/datatables.js"></script>
<script src="js/datatables/datatablesBs4.js"></script>
<script src="js/datatables/datatablesButtons.js"></script>
<script src="js/datatables/datatablesButtonsBs4.js"></script>
<script src="js/datatables/datatablesResponsive.js"></script>
<script src="js/datatables/datatablesResponsiveBs4.js"></script>
<script src="js/datatables/jszip.js"></script>
<script src="js/datatables/datatables.default.js"></script>